<ion-header>
  <ion-navbar>
    <ion-title>
      delta-pouch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="sites">
    <!--<ion-list-header><h1>Websites</h1></ion-list-header>-->
    <ion-item>count: {{sites.length}}</ion-item>
    <ion-item *ngFor="let site of sites">

      Field A:{{site.name}}
      <br>
      Field B: {{site.url}}
      <button ion-button item-right (click)="editSite(site.$id)">Edit</button>
      <button ion-button item-right (click)="removeSite(site.$id)">Delete</button>
    </ion-item>

    <ion-item-divider text-center> --</ion-item-divider>
    <ion-item>
      <button ion-button id="newButton" (click)="editSite()">New</button>
    </ion-item>
    <form id="form" [formGroup]="form" style="display:none;">
      <ion-item>
        <ion-label>Field A</ion-label>
        <ion-input
          formControlName="name"
          type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Field B</ion-label>
        <ion-input
          formControlName="url"
          type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <button ion-button danger (click)="saveSite()">Save</button>
      </ion-item>
    </form>
    <ion-item>
      <button (click)="cleanup()">Cleanup</button>
      <button (click)="doPurge()">Purge</button>
    </ion-item>


  </ion-list>
</ion-content>
